@model IPagedList<RioManager.Models.Vw_Account>

@{
    ViewBag.Title = "R-S_Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VwAccount = ViewBag.VwAccount;
}

<div class="container systemContainer">
    <div class="topBar">
        <h2>Explore</h2>
    </div>
    <div class="row form-group systemGroup">
        @{
            foreach (var item in VwAccount)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("Index","Home", new { vid = @item.ID })">
                        <div class="row accountLinkRow">
                            <div class="col-sm-4 accoutCover">
                                @if (item.PicSN != 0)
                                {
                                    <img src="@item.PicPath@item.PicName" />
                                }
                                else
                                {
                                    <img src="~/Content/img/icon/questionMark.png" />
                                }
                            </div>
                            <div class="col-sm-8">
                                <span>@item.ID</span><br />
                                <span class="accountIntroduction">@item.AccountContent</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("RioPicView", new { page }))
    <p>End of content</p>
</div>



