@model RioManager.Models.Rio_Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rio_Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
