@model IPagedList<RioManager.Models.Rio_Account>
@{
    ViewBag.Title = "Account";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                UserID
            </th>
            <th>
                UserName
            </th>
            <th>
                說明
            </th>
            <th>
                建立者
            </th>
            <th>
                建立時間
            </th>
            <th>
                修改者
            </th>
            <th>
                修改時間
            </th>
            <th>
                啟用
            </th>
            <th>
                功能
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnable)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SN }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SN }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SN })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>