@model RioManager.Models.Rio_Account
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")    
</head>
<body style="background:url('../../Content/img/Froncover/cover.png')">    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="body-content text-center">
            <h2>Login</h2>
            <div class="form-horizontal">
                <h4>Please sign in</h4>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-2">
                        @Html.TextBox("ID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-2">
                        @Html.Password("Password", null, htmlAttributes: new { @class = "form-control text-box single-line" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn btn-default" />
                        <a class="btn btn-default" data-fancybox data-type="iframe" data-src="/Rio_Account/RioAccountRegister" href="javascript:;">Register</a>
                    </div>
                </div>
            </div>
        </div>
    }

</body>

</html>


