@model IPagedList<RioManager.Models.Rio_Compression>
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    #region 變數宣告
    string mode = ViewBag.mode;
    string title = ViewBag.title;
    string vid = ViewBag.vid;
    bool isUser = ViewBag.isUser;
    var className = ViewBag.className;
    #endregion
}

<div class="row @className.TopBar">
    <div class="col-md-4">
        <h2>@title</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">
        @{
            if (isUser)
            {
                if (mode.Equals("E"))
                {                                        
                    <input class="btn btnDelete" type="button" id="deleteImg" value="刪除檔案" onclick="deleteFile('Rio_Compression')" />
                    <input class="btn btnOther" type="button" id="cheangeEnable" value="改變啟用狀態" onclick="fileEnable('Compression')" />
                    <a class="btn btnMode" href="@Url.Action("CompressionView" ,"Rio_Compression" ,new {vid = @vid ,m = "V" })">檢視模式</a>
                }
                else
                {
                    <a class="btn btnMode" href="@Url.Action("CompressionView", "Rio_Compression" , new {vid = @vid ,m = "E"})">編輯模式</a>
                }
                <a class="btn btnUpdate" data-fancybox data-type="iframe" data-src="/Tools/fmUpload?t=Compression" rel="" href="javascript:;">上傳壓縮檔</a>
            }
            else
            {
                @Html.ActionLink("回" + vid + "的首頁", "Index", "Home", new { vid = @vid }, new { @class = "btn btn-success" })
            }
        }
    </div>
</div>

<div class="container @className.SysContainer">
    <div class="row form-group systemGroup">
        @{            
            foreach (var item in Model)
            {
                var dataClass = className.DataClass;
                var iconSrc = "";

                if (item.IsEnable == false)
                {
                    className = " docViewDiv NotEnable";
                }

                if (item.Extension == "zip")
                {
                    iconSrc = "../../Content/img/icon/zip.png";
                }
                else if (item.Extension == "7z")
                {
                    iconSrc = "../../Content/img/icon/7zip.png";
                }
                else if (item.Extension == "rar")
                {
                    iconSrc = "../../Content/img/icon/rar.png";
                }

                <div class="col-md-2 ">
                    <div id="@item.SN" class="@dataClass" style="background-image:url(@iconSrc)" onclick="selectDiv(event,'@dataClass','.@dataClass')">
                        @if (mode.Equals("V"))
                        {
                            <a href="@item.Path/@item.Name" title="@item.Name">
                                <p>@item.Name</p>
                            </a>
                        }
                        else
                        {
                            <p>@item.Name</p>
                        }
                    </div>
                </div>
            }                      
        }
    </div>
</div>

<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("CompressionView", new { vid = @vid, m = mode, page }))    
</div>

