@model IPagedList<RioManager.Models.Rio_Pic>

@{
    ViewBag.Title = "RioPicView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isView = true;
    var title = "PicView";
    var m = "V";
    if (Request.QueryString.Get("m") != null && Request.QueryString.Get("m").ToString() == "E")
    {
        isView = false;
        title = "PicEdit";
        m = "E";
    }
}

<div class="container">
    <div class="col-md-6">
        <h2>@title</h2>
    </div>
    <div class="col-md-6 text-right" style="line-height:70px;">                
        @{
            if (!isView)
            {
                <input class="btn btn-default" type="button" id="imgReScaling" value="多檔下載" onclick="zipFile('img')" />
                <input class="btn btn-default" type="button" id="imgReScaling" value="重置縮圖" onclick="location.href='@Url.Action("ReScaling", "Rio_Pic")'" />
                <input class="btn btn-default" type="button" id="imgReScaling" value="刪除圖片" onclick="deleteFile('img')" />
                <a class="btn btn-default" href="RioPicView?m=V">檢視模式</a>
            }
            else
            {
                <a class="btn btn-default" href="RioPicView?m=E">編輯模式</a>
            }
        }
        <a class="btn btn-default various fancybox.iframe" rel="" href="~/Tools/fmUpload?t=img">上傳圖片</a>        
    </div>
</div>
<div class="body-content">
    <div class="form-group" style="overflow: hidden;">
        @{
            if (!isView)
            {
                foreach (var item in Model)
                {
                    <div id="@item.SN" class="col-md-3 thumbnail picEditDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName);" onclick="selectDiv(event,'col-md-3  thumbnail picEditDiv','.col-md-3.thumbnail.picEditDiv')"></div>
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3 thumbnail picViewDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                        <a class="fancybox" style="display:block;" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                    </div>

                }
            }
        }
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("RioPicView", new { m= m, page }))
<p>End of content</p>
