@model IPagedList<RioManager.Models.Rio_Pic>

@{
    ViewBag.Title = "RioPicView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isView = true;
    var title = "PicView";
    var vid = string.Empty;
    var m = "V";
    var UserID = string.Empty;
    var PicView = ViewBag.PicView;
    if (Request.QueryString.Get("vid") != null)
    {
        vid = Request.QueryString.Get("vid").ToString();
    }
    if (Session["UserID"] != null)
    {
        UserID = Session["UserID"].ToString();
    }
    if (Request.QueryString.Get("m") != null )
    {
        if(Request.QueryString.Get("m").ToString() == "E")
        {
            isView = false;
            title = "PicEdit";
            m = "E";
        }
    }
}

<div class="container">
    <div class="col-md-4">
        <h2>@title</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">                
        @{
            if (vid == UserID)
            {           
                if (!isView)
                {
                    <input class="btn btn-default" type="button" id="fileDownload" value="多檔下載" onclick="zipFile('img')" />
                    <input class="btn btn-default" type="button" id="imgReScaling" value="重置縮圖" onclick="location.href='@Url.Action("ReScaling", "Rio_Pic")'" />
                    <input class="btn btn-default" type="button" id="deleteImg" value="刪除圖片" onclick="deleteFile('img')" />
                    <input class="btn btn-default" type="button" id="cheangeEnable" value="改變啟用狀態" onclick="fileEnable('img')" />
                    <a class="btn btn-default" href="@Url.Action("RioPicView" ,"Rio_Pic" ,new {vid = @vid ,m = "V" })">檢視模式</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("RioPicView", "Rio_Pic" , new {vid = @vid ,m = "E"})">編輯模式</a>
                }
                <a class="btn btn-default" data-fancybox data-type="iframe" data-src="/Tools/fmUpload?t=img" rel="" href="javascript:;">上傳圖片</a>
            }
            else
            {
                @Html.ActionLink("回" + vid + "的首頁","Index","Home",new { vid = @vid},new {@class= "btn btn-default"})
            }
        }
    </div>
</div>
<div class="body-content">
    <div class="form-group" style="overflow: hidden;">
        @{
            if (!isView)
            {
                foreach (var item in Model)
                {
                    var className = "col-md-3 thumbnail picEditDiv";
                    if(item.IsEnable == false)
                    {
                        className = "col-md-3 thumbnail picEditDiv NotEnable";
                    }
                    <div id="@item.SN" class="@className" style="background-image:url(@item.PicPath/Scaling/@item.PicName);" onclick="selectDiv(event, '@className' ,'.col-md-3.thumbnail.picEditDiv')"></div>
                }
            }
            else
            {
                if (vid == UserID) //本人使用
                {
                    foreach (var item in Model)
                    {
                        var className = "col-md-3 thumbnail picViewDiv";
                        if (item.IsEnable == false)
                        {
                            className = "col-md-3 thumbnail picViewDiv NotEnable";
                        }
                        <div class="@className" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                            <a class="fancybox" data-fancybox="images" style="display:block;" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                        </div>
                    }
                }
                else//觀光者模式
                {
                    foreach (var item in Model)
                    {
                        if (item.IsEnable == true)
                        {
                            <div class="col-md-3 thumbnail picViewDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                                <a class="fancybox" data-fancybox="images" style="display:block;" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                            </div>
                        }
                    }
                }
            }
        }
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("RioPicView", new {vid = @vid, m= m, page }))
<p>End of content</p>
