@model IPagedList<RioManager.Models.Rio_Pic>

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isView = true;
    var mode = "V";
    var title = ViewBag.title;
    var className = ViewBag.className;
    var isUser = ViewBag.isUser;
    var vid = string.Empty;
    if (Request.QueryString.Get("vid") != null)
    {
        vid = Request.QueryString.Get("vid").ToString();
    }
    if (Request.QueryString.Get("m") != null)
    {
        mode = Request.QueryString.Get("m").ToString();
    }
}

<div class="row @className.TopBar">
    <div class="col-md-4">
        <h2>@title</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">                
        @{
            if (isUser)
            {           
                if (mode.Equals("E"))
                {
                    <input class="btn btn-success" type="button" id="fileDownload" value="多檔下載" onclick="zipFile('img')" />
                    <input class="btn btn-warning" type="button" id="imgReScaling" value="重置縮圖" onclick="location.href='@Url.Action("ReScaling", "Rio_Pic")'" />
                    <input class="btn btn-danger" type="button" id="deleteImg" value="刪除圖片" onclick="deleteFile('img')" />
                    <input class="btn btn-warning" type="button" id="cheangeEnable" value="改變啟用狀態" onclick="fileEnable('img')" />
                    <a class="btn btn-success" href="@Url.Action("RioPicView" ,"Rio_Pic" ,new {vid = @vid ,m = "V" })">檢視模式</a>
                }
                else
                {
                    <a class="btn btn-success" href="@Url.Action("RioPicView", "Rio_Pic" , new {vid = @vid ,m = "E"})">編輯模式</a>
                }
                <a class="btn btn-primary" data-fancybox data-type="iframe" data-src="/Tools/fmUpload?t=img" rel="" href="javascript:;">上傳圖片</a>
            }
            else
            {
                @Html.ActionLink("回" + vid + "的首頁","Index","Home",new { vid = @vid},new {@class= "btn btn-success" })
            }
        }
    </div>
</div>
<div class="container @className.SysContainer">
    <div class="row form-group systemGroup">
        @{
            foreach (var item in Model)
            {
                var dataClassName = className.DataClass;
                if (item.IsEnable == false)
                {
                    dataClassName = className.DataClass + " NotEnable";
                }
                <div class="col-md-3">
                    <div id="@item.SN" class="@dataClassName" style="background-image:url(@item.PicPath/Scaling/@item.PicName)" onclick="selectDiv(event,'@dataClassName','.picEditDiv')">
                        @if (isView)
                        {
                            <a class="fancybox" data-fancybox="images" style="display:block;" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                        }                             
                    </div>
                </div>
            }                                  
        }
    </div>
</div>
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("RioPicView", new { vid = @vid,m = @mode, page }))    
    <p>End of content</p>
</div>
