@model IEnumerable<RioManager.Models.Rio_Doc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HitCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SN })
        </td>
    </tr>
}

</table>
