@model IEnumerable<RioManager.Models.Rio_Doc>
@{
    ViewBag.Title = "RioDocView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagedList.IPagedList<RioManager.Models.Rio_Doc> getAllDoc = (PagedList.IPagedList<RioManager.Models.Rio_Doc>)ViewBag.getAllDoc;
    var mode = "V";
    var title = "DocView";
    var isView = true;
    if (Request.QueryString.Get("m") != null)
    {
        mode = Request.QueryString.Get("m").ToString();
        if (mode == "E")
        {
            isView = false;
            title = "DocEdit";
        }
    }
}

<div class="container">
    <div class="col-md-6">
        <h2>@title</h2>
    </div>
    <div class="col-md-6 text-right" style="line-height:70px;">
        @{
            if (isView)
            {
                <a id="btnEdit" class="btn btn-default" href="RioDocView?m=E">編輯模式</a>
            }
            else
            {
                <input class="btn btn-default" type="button" id="imgReScaling" value="多檔下載" onclick="zipFile('doc')" />
                <input id="btnDelete" type="button" value="刪除檔案" class="btn btn-default"  onclick="deleteFile('doc')" />                
                <a id="btnView" class="btn btn-default" href="RioDocView?m=V">檢視模式</a>
            }
        }
        <a id="btnUpload" class="btn btn-default various fancybox.iframe" rel="" href="~/Tools/fmUpload?t=Doc">上傳文件</a>        
    </div>
</div>
<div class="body-content">
    <div class="form-group" style="overflow:hidden;">
        @{
            if (@mode == "V" || @mode == "")
            {
                foreach (var item in getAllDoc)
                {
                    var imgSrc = "";
                    if (@item.Extension == "docx" || @item.Extension == "doc")
                    {
                        imgSrc = "../../Content/img/icon/doc.ico";
                    }
                    else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                    {
                        imgSrc = "../../Content/img/icon/xls.ico";
                    }
                    else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                    {
                        imgSrc = "../../Content/img/icon/ppt.ico";
                    }

                    <div class="col-md-2 docViewDiv" style="background-image:url(@imgSrc)">
                        <a href="@item.DocPath/@item.DocName" title="@item.DocName">
                            <p>@item.DocName</p>
                        </a>
                    </div>
                }
            }
            else if (@mode == "E")
            {
                foreach (var item in getAllDoc)
                {
                    var imgSrc = "";
                    if (@item.Extension == "docx" || @item.Extension == "doc")
                    {
                        imgSrc = "../../Content/img/icon/doc.ico";
                    }
                    else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                    {
                        imgSrc = "../../Content/img/icon/xls.ico";
                    }
                    else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                    {
                        imgSrc = "../../Content/img/icon/ppt.ico";
                    }
                    <div id="@item.SN" class="col-md-2 docViewDiv" style="background-image:url(@imgSrc)" onclick="selectDiv(event,'col-md-2 docViewDiv','.col-md-2.docViewDiv')">
                        <p class="docViewP">@item.DocName</p>
                    </div>
                }
            }
        }
    </div>
</div>
@Html.PagedListPager(getAllDoc, page => Url.Action("RioDocView", new { m = mode, page }))
<p>End of content</p>
