@model IPagedList<RioManager.Models.Rio_Doc>
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    string mode = ViewBag.mode;
    string title = ViewBag.title;
    string vid = ViewBag.vid;
    bool isUser = ViewBag.isUser;
    var className = ViewBag.className;
}

<div class="row @className.TopBar">
    <div class="col-md-4">
        <h2>@title</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">
        @{
            if (isUser)
            {
                if (!mode.Equals("E"))
                {
                    <a id="btnEdit" class="btn btn-success" href="@Url.Action("RioDocView","Rio_Doc", new {vid=@vid, m="E"})">編輯模式</a>
                }
                else
                {
                    <input id="btnDelete" class="btn btnDelete" type="button" value="刪除檔案" onclick="deleteFile('Rio_Doc')" />
                    <input id="cheangeEnable" class="btn btnOther" type="button" value="改變啟用狀態" onclick="fileEnable('Rio_Doc')" />
                    <input id="fileDownload" class="btn btnDonwload" type="button" value="多檔下載" onclick="zipFile('doc')" />
                    <a id="btnView" class="btn btnMode" href="@Url.Action("RioDocView","Rio_Doc", new {vid=@vid, m="V"})">檢視模式</a>
                }
                <a id="btnUpload" class="btn btnUpdate" data-fancybox data-type="iframe" data-src="/Tools/fmUpload?t=Doc" href="javascript:;">上傳文件</a>
            }
            else
            {
                @Html.ActionLink("回" + vid + "的首頁", "Index", "Home", new { vid = @vid }, new { @class = "btn btnMode" })
            }
        }
    </div>
</div>
<div class="container @className.SysContainer">
    <div class="row form-group systemGroup">
        @{
                foreach (var item in Model)
                {
                    var imgSrc = "";
                    var dataClassName = className.DataClass;
                    if (@item.Extension == "docx" || @item.Extension == "doc")
                    {
                        imgSrc = "../../Content/img/icon/doc.ico";
                    }
                    else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                    {
                        imgSrc = "../../Content/img/icon/xls.ico";
                    }
                    else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                    {
                        imgSrc = "../../Content/img/icon/ppt.ico";
                    }
                    else if (@item.Extension == "pdf")
                    {
                        imgSrc = "../../Content/img/icon/pdf.ico";
                    }

                    if (item.IsEnable == false)
                    {
                        dataClassName = dataClassName + " NotEnable";
                    }
                    <div class="col-md-2 ">
                        <div id="@item.SN" class="@dataClassName" style="background-image:url(@imgSrc)" onclick="selectDiv(event,'@dataClassName','.@dataClassName')">
                            @if (mode.Equals("V"))
                            {
                                <a href="@item.DocPath/@item.DocName" title="@item.DocName">
                                    <p>@item.DocName</p>
                                </a>
                            }
                            else
                            {
                                <p>@item.DocName</p>
                            }
                        </div>
                    </div>
                }
            }        
    </div>
</div>
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("RioDocView", new { vid = @vid, m = mode, page }))    
</div>
