@model IEnumerable<RioManager.Models.Rio_Doc>
@{
    ViewBag.Title = "R-S_DocView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagedList.IPagedList<RioManager.Models.Rio_Doc> getAllDoc = (PagedList.IPagedList<RioManager.Models.Rio_Doc>)ViewBag.getAllDoc;
    var mode = "V";
    var title = "DocView";
    var isView = true;
    var vid = string.Empty;
    var UserID = string.Empty;
    if (Request.QueryString.Get("m") != null)
    {
        mode = Request.QueryString.Get("m").ToString();
        if (mode == "E")
        {
            isView = false;
            title = "DocEdit";
        }
    }
    if (Session["UserID"] != null)
    {
        UserID = Session["UserID"].ToString();
    }
    if (Request.QueryString.Get("vid") != null)
    {
        vid = Request.QueryString.Get("vid").ToString();
    }
    else
    {
        Html.RenderAction("LoingChecked", "Rio_Account");
    }
}

<div class="row topBar">
    <div class="col-md-4">
        <h2>@title</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">
        @{
            if(vid == UserID) { 
                if (isView)
                {
                    <a id="btnEdit" class="btn btn-success" href="@Url.Action("RioDocView","Rio_Doc", new {vid=@vid, m="E"})">編輯模式</a>
                }
                else
                {
                    <input id="fileDownload" class="btn btn-success" type="button"  value="多檔下載" onclick="zipFile('doc')" />
                    <input id="btnDelete" class="btn btn-danger" type="button" value="刪除檔案" onclick="deleteFile('doc')" />
                    <input  id="cheangeEnable"class="btn btn-warning" type="button"  value="改變啟用狀態" onclick="fileEnable('doc')" />
                    <a id="btnView" class="btn btn-success" href="@Url.Action("RioDocView","Rio_Doc", new {vid=@vid, m="V"})">檢視模式</a>
                }
                <a id="btnUpload" class="btn btn-primary" data-fancybox data-type="iframe" data-src="/Tools/fmUpload?t=Doc" href="javascript:;">上傳文件</a>
            }
            else
            {
                @Html.ActionLink("回" + vid + "的首頁", "Index", "Home", new { vid = @vid }, new { @class = "btn btn-success" })
            }
        }    
    </div>
</div>
<div class="container systemContainer">
    <div class="row form-group systemGroup">
        @{
            if (vid == UserID)//本人使用
            {
                if (isView)//View Mode
                {
                    foreach (var item in getAllDoc)
                    {
                        var imgSrc = "";
                        var className = "docViewDiv";
                        if (@item.Extension == "docx" || @item.Extension == "doc")
                        {
                            imgSrc = "../../Content/img/icon/doc.ico";
                        }
                        else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                        {
                            imgSrc = "../../Content/img/icon/xls.ico";
                        }
                        else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                        {
                            imgSrc = "../../Content/img/icon/ppt.ico";
                        }
                        else if (@item.Extension == "pdf")
                        {
                            imgSrc = "../../Content/img/icon/pdf.ico";
                        }

                        if (item.IsEnable == false)
                        {
                            className = className + " NotEnable";
                        }
                        <div class="col-md-2 ">
                            <div class="@className" style="background-image:url(@imgSrc)">
                                <a href="@item.DocPath/@item.DocName" title="@item.DocName">
                                    <p>@item.DocName</p>
                                </a>
                            </div>
                        </div>
                    }
                }
                else//Edit Mode
                {
                    foreach (var item in getAllDoc)
                    {
                        var imgSrc = "";
                        var className = "docViewDiv";
                        if (@item.Extension == "docx" || @item.Extension == "doc")
                        {
                            imgSrc = "../../Content/img/icon/doc.ico";
                        }
                        else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                        {
                            imgSrc = "../../Content/img/icon/xls.ico";
                        }
                        else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                        {
                            imgSrc = "../../Content/img/icon/ppt.ico";
                        }
                        else if (@item.Extension == "pdf")
                        {
                            imgSrc = "../../Content/img/icon/pdf.ico";
                        }

                        if (item.IsEnable == false)
                        {
                            className = className + " NotEnable";
                        }

                        <div class="col-md-2">
                            <div id="@item.SN"  class="@className" style="background-image:url(@imgSrc)" onclick="selectDiv(event,'@className','.docViewDiv')">
                                <p class="docViewP">@item.DocName</p>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                foreach (var item in getAllDoc)//觀光客模式
                {
                    if (item.IsEnable == true)
                    {
                        var imgSrc = "";
                        var className = " ";
                        if (@item.Extension == "docx" || @item.Extension == "doc")
                        {
                            imgSrc = "../../Content/img/icon/doc.ico";
                        }
                        else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                        {
                            imgSrc = "../../Content/img/icon/xls.ico";
                        }
                        else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                        {
                            imgSrc = "../../Content/img/icon/ppt.ico";
                        }
                        else if (@item.Extension == "pdf")
                        {
                            imgSrc = "../../Content/img/icon/pdf.ico";
                        }

                        <div class="col-md-2">
                            <div class="docViewDiv" style="background-image:url(@imgSrc)">
                                <a href="@item.DocPath/@item.DocName" title="@item.DocName">
                                    <p>@item.DocName</p>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div class="container">
    @Html.PagedListPager(getAllDoc, page => Url.Action("RioDocView", new { vid = @vid, m = mode, page }))
    <p>End of content</p>
</div>
