@model IEnumerable<RioManager.Models.Rio_Album>
@{
    ViewBag.Title = "R-S_AlbumContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string vid = ViewBag.vid;
    int aSN = ViewBag.aSN;
    bool isUser = ViewBag.isUser;
    var VwAlbum = ViewBag.VwAlbum;
    var className = ViewBag.className;
    PagedList.IPagedList<RioManager.Models.Vw_AlbumJoinPic> JoinPic = (PagedList.IPagedList<RioManager.Models.Vw_AlbumJoinPic>)ViewBag.getJoinPic;
}

<div class="row @className.TopBar">
    <div class="col-md-4">
        <h2>@VwAlbum.AlbumName</h2>
    </div>
    <div class="col-md-8 text-right" style="line-height:70px;">
        @{
            if (isUser)
            {
                <a class="btn btnDelete" href="@Url.Action("DeleteAlbum","Rio_Album",new {SN= @aSN.ToString(),vid = @vid })">刪除相簿</a>
                <a class="btn btnUpdate" data-fancybox data-type="iframe" data-src="CreateAlbum?s=1&aSN=@aSN" href="javascript:;">編輯相簿</a>
            }
            <a class="btn btnMode" href="@Url.Action("RioAlbumView","Rio_Album", new { vid = @vid })">相簿列表</a>
            <a class="btn btnDonwload" href="@Url.Action("ZipAlbum","Rio_Album",new {SN= @aSN.ToString() })">相簿下載</a>
        }
    </div>
</div>

<div class="container @className.SysContainer">
    <div class="row form-group systemGroup">
        @{
            if (JoinPic != null)
            {
                foreach (var item in JoinPic)
                {
                    <div class="col-md-3">
                        <div class="@className.DataClass" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                            <a data-fancybox="images" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="container">
    @Html.PagedListPager(JoinPic, page => Url.Action("RioAlbumContent", new { vid = @vid, SN = aSN, page }))    
</div>