@model IEnumerable<RioManager.Models.Rio_Album>
@{
    ViewBag.Title = "RioAlbumContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var aSN = "0";
    if (Request.QueryString.Get("SN") != null)
    {
        aSN = Request.QueryString.Get("SN").ToString();
    }
    var VwAlbum = ViewBag.VwAlbum;
    PagedList.IPagedList<RioManager.Models.Vw_AlbumJoinPic> JoinPic = (PagedList.IPagedList<RioManager.Models.Vw_AlbumJoinPic>)ViewBag.getJoinPic;
}


<div class="container">
    <div class="col-md-6">
        <h2>@VwAlbum.AlbumName</h2>
    </div>
    <div class="col-md-6 text-right" style="line-height:70px;">
        <a class="btn btn-default" href="RioAlbumView?m=V">相簿列表</a>
        <a class="btn btn-default" href="@Url.Action("ZipAlbum","Rio_Album",new {SN= @aSN.ToString() })">相簿下載</a>
        <a class="btn btn-default various fancybox.iframe" rel="" href="CreateAlbum?s=1&as=@aSN">編輯相簿</a>
    </div>
    <div class="form-group">
        @{
            if (JoinPic != null)
            {
                foreach (var item in JoinPic)
                {
                    <div class="col-md-3">
                        <a class="thumbnail fancybox" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName">
                            <img style="height:165px;" src="@item.PicPath/Scaling/@item.PicName" alt="@item.PicName" />
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>

@Html.PagedListPager(JoinPic, page => Url.Action("RioAlbumContent", new {SN = aSN, page }))
<p>End of content</p>
