@model IPagedList<RioManager.Models.Vw_Album>
@{
    ViewBag.Title = "RioPicView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-md-6">
        <h2>AlbumView</h2>
    </div>
    <div class="col-md-6 text-right" style="line-height:70px;">
        <a class="btn btn-default various fancybox.iframe" rel="" href="CreateAlbum?s=0">建立新相簿</a>         
        <input class="btn btn-default" type="button" id="deleteAlbum" onclick="getDeleteAlbumSN()" value="刪除相簿" />
    </div>
    <div class="form-group">
        @{ 
            var VwAlbum = @ViewBag.VwAlbum;
         }                   
         @foreach (var item in VwAlbum)
         {
            <div id="@item.SN" class="col-md-3 albumDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                <a href="@Url.Action("RioAlbumContent","Rio_Album",new {SN=@item.SN })">
                    <p>@item.AlbumName</p>
                </a>
            </div>            
         }        
    </div>    
</div>
@Html.PagedListPager(Model, page => Url.Action("RioAlbumView", new { page }))
<p>End of content</p>
