@{
    ViewBag.Title = "Home Page";
    var ID = "";
    var vid = string.Empty;
    var userSetting = ViewBag.userSetting;
    var Title = "";
    var SubTitle = "Index";
    var img = "";
    var userTrack = ViewBag.userTrack;
    var userTrackText = "Track";
    if (Context.Session["UserID"] != null)
    {
        ID = Context.Session["UserID"].ToString();
    }
    if (Request.QueryString.Get("vid") != null)
    {
        vid = Request.QueryString.Get("vid").ToString();
        Title = vid;
    }
    else
    {
        Html.RenderAction("LoingChecked", "Rio_Account");
    }
    if (userSetting != null)
    {
        Title = userSetting.Title;
        SubTitle = userSetting.SubTitle;
        if (userSetting.CoverSN != 0)
        {
            img = "background: url('" + userSetting.CoverPicPath + userSetting.CoverName + "'); background-repeat:no-repeat; background-position:center;background-size:cover;";

        }
    }
}
<div class="divHomeIndexContent">
    <div class="jumbotron" style="@img">
        <h1>@Title</h1>
        <p class="lead">@SubTitle</p>
        @if (@ViewBag.indexAccountCover != "")
        {
            <div class="indexAccountCover">
                <img src="@ViewBag.indexAccountCover" />
            </div>
        }
            <div class="indexTrack">
                @if (!ID.Equals(string.Empty) && !ID.Equals(vid))
                {
                    if (userTrack != null)
                    {
                        userTrackText = "UnTrack";                        
                    }
                    <input id="btnUserTrack" class="btn btn-primary" type="button" value="@userTrackText" onclick="userTrack()"/>
                }
            </div>
    </div>
    <div class="container" >
        @{
            if(@ViewBag.albumCount > 0)
            {
                var preViewAlbum = ViewBag.preViewAlbum;
                <h4><a class="btn btn-info" href="@Url.Action("RioAlbumView", "Rio_Album", new { vid = @vid })">Album (@ViewBag.albumCount)</a></h4>
                <div class="row">
                    @foreach (var item in preViewAlbum)
                    {
                        <div id="@item.SN" class="col-md-3" >
                            <div class="albumDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName);color:#17a2b8;">
                                <a href="@Url.Action("RioAlbumContent", "Rio_Album", new { vid = @vid, SN = @item.SN })">
                                    <p>@item.AlbumName</p>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
            if (@ViewBag.picCount > 0)
            {
                var preViewPic = ViewBag.preViewPic;
                <hr />
                <h4><a class="btn btn-primary" href="@Url.Action("RioPicView", "Rio_Pic" ,  new { vid = @vid })">Picture (@ViewBag.picCount)</a></h4>                
                <div class="row">
                    @foreach (var item in preViewPic)
                    {
                        <div class="col-md-3">
                            <div class="picViewDiv" style="background-image:url(@item.PicPath/Scaling/@item.PicName)">
                                <a class="fancybox" data-fancybox="images" style="display:block;" rel="ligthbox" href="@item.PicPath/@item.PicName" title="@item.PicName"></a>
                            </div>
                        </div>
                    }
                </div>
            }
            if (@ViewBag.docCount > 0)
            {
                var preViewDoc = ViewBag.preViewDoc;
                <hr />
                <h4><a class="btn btn-danger" href="@Url.Action("RioDocView", "Rio_Doc",  new { vid = @vid })">Document(@ViewBag.docCount)</a></h4>                
                <div class="row">
                    @foreach (var item in preViewDoc)
                    {
                        var imgSrc = "";
                        if (@item.Extension == "docx" || @item.Extension == "doc")
                        {
                            imgSrc = "../../Content/img/icon/doc.ico";
                        }
                        else if (@item.Extension == "xlsx" || @item.Extension == "xls")
                        {
                            imgSrc = "../../Content/img/icon/xls.ico";
                        }
                        else if (@item.Extension == "pptx" || @item.Extension == "ppt")
                        {
                            imgSrc = "../../Content/img/icon/ppt.ico";
                        }
                        else if (@item.Extension == "pdf")
                        {
                            imgSrc = "../../Content/img/icon/pdf.ico";
                        }

                        <div class="col-md-3" >
                            <div class="docViewDiv" style="background-image:url(@imgSrc)">
                                <a href="@item.DocPath/@item.DocName" title="@item.DocName">
                                    <p>@item.DocName</p>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }

        }
    </div>
</div>