@model IPagedList<RioManager.Models.Vw_Notice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="container systemContainer">
    <div class="topBar">
        <h2>Notice</h2>
    </div>
    <div class="row form-group systemGroup">        
        @{
            foreach (var item in Model)
            {
                <div class="col-md-12 noticeDiv">                                        
                    <a href="~/Home/Index?vid=@item.ID">
                        <img src="@item.PicPath@item.PicName" />
                        @item.ID
                    </a>
                    @item.NoticeContent
                    <p class="noticeDate">@item.CreateDate.ToString("yyyy-MM-dd HH:mm")</p>                    
                </div>
            }
        }
    </div>
</div>

<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))    
</div>
